@charset "UTF-8";
#login-container {
  width: 100%;
  padding: 90px 0;
}

#login-container .show-img {
  width: 670px;
  height: 440px;
}

#login-container .show-img img {
  width: 100%;
  height: 100%;
}

#login-container .login-form-container {
  border: 5px solid #d9d9d9;
  padding: 20px 40px;
  width: 340px;
  height: 390px;
}

.login-form-container h2, .login-form-container a {
  color: #70cc42;
}

.login-form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form-container h2, .login-form-container li p.reg {
  text-align: center;
}

.login-form-container li p.error {
  line-height: 24px;
  color: #f00;
  margin-top: 10px;
}

.login-form-container ul {
  display: block;
}

.login-form-container li {
  margin-bottom: 25px;
  font-size: 14px;
}

.login-form-container li input[type='text'], .login-form-container li input[type='password'] {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  color: #aaaaaa;
  height: 38px;
  line-height: 38px;
  outline: none;
  width: 320px;
}

.login-form-container li div {
  overflow: hidden;
  line-height: 20px;
  margin-top: 5px;
}

.login-form-container li label input {
  vertical-align: middle;
}

.login-form-container li .login_btn {
  width: 100%;
  height: 40px;
  color: #FFF;
  border: none;
  background: #70cc42;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.login-header {
  width: 100%;
  height: 80px;
  background: #218928;
}
.login-header .header-right {
  float: right;
}
.login-header .header-right, .login-header .header-right a {
  color: #FFF;
}

.reg-center .title {
  margin-top: 20px;
  text-indent: 25px;
  font-size: 16px;
}
.reg-center .reg-container {
  width: 400px;
  margin: 20px auto;
}
.reg-center .reg-container .form-list {
  display: block;
}
.reg-center .reg-container .form-list li {
  overflow: hidden;
  padding: 7px 0;
}
.reg-center .reg-container .form-list li .form-list {
  float: left;
  font-size: 14px;
}
.reg-center .reg-container .form-list li .form-list-title {
  width: 90px;
  text-align: right;
  float: left;
  color: #333;
  font-size: 14px;
  margin-right: 10px;
  line-height: 32px;
}
.reg-center .reg-container .form-list li .form-list-content {
  float: left;
  width: 300px;
  color: #aaa;
}
.reg-center .reg-container .form-list li .form-list-content .input-cz {
  overflow: hidden;
}
.reg-center .reg-container .form-list li .form-list-content .input-cz input[type="text"] {
  width: 198px;
  float: left;
}
.reg-center .reg-container .form-list li .form-list-content img {
  width: 70px;
  float: right;
  display: block;
  height: 32px;
  border: none;
}
.reg-center .reg-container .form-list li .form-list-content input[type="text"], .reg-center .reg-container .form-list li .form-list-content input[type="password"] {
  width: 278px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d9d9d9;
  padding: 0 10px;
  color: #aaa;
  outline: none;
}
.reg-center .reg-container .form-list li .form-list-content input[type="text"].error, .reg-center .reg-container .form-list li .form-list-content input[type="password"].error {
  border: 1px solid #f00;
}
.reg-center .reg-container .form-list li .form-list-content p {
  font-size: 12px;
  line-height: 24px;
  color: #f00;
}
.reg-center .reg-container .form-list li .form-list-content .code_btn {
  width: 70px;
  height: 30px;
  border: 1px solid #d9d9d9;
  text-align: center;
  font-size: 12px;
  background: #aaa;
  display: block;
  float: right;
  border-radius: 3px;
  line-height: 30px;
  color: #333;
}
.reg-center .reg-container .form-list li .form-list-content .submit_btn {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  color: #FFF;
  border: none;
  background: #218928;
  font-size: 16px;
  cursor: pointer;
  font-family: "微软雅黑", Arial, "宋体";
}

/*忘记密码*/
.forget {
  padding-top: 20px;
}
.forget h1 {
  padding: 0 20px;
}
.forget .forget-center {
  width: 600px;
  margin: 20px auto;
}
.forget .form-container {
  margin-top: 60px;
}
.forget .form-container .form-list {
  overflow: hidden;
  margin-bottom: 20px;
}
.forget .form-container .form-title {
  width: 130px;
  text-align: right;
  float: left;
  font-size: 14px;
  color: #333;
  line-height: 32px;
}
.forget .form-container .form-item {
  float: right;
  width: 460px;
}
.forget .form-container .form-item p {
  font-size: 12px;
  color: #aaa;
  line-height: 20px;
}
.forget .form-container .form-item i {
  color: #fc4607;
}
.forget .form-container .form-item input {
  width: 218px;
  height: 30px;
  line-height: 30px;
  line-height: 30px \0 ;
  padding: 0 10px;
  font-size: 14px;
  color: #aaa;
  border: 1px solid #d9d9d9;
}
.forget .form-container .form-item .code_btn {
  border: 1px solid #d9d9d9;
  background: #aaa;
  color: #333;
  display: inline-block;
  width: 109px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
.forget .form-container .form-item .code_btn:hover {
  text-decoration: none;
}
.forget .form-container .form-item span {
  color: #aaa;
  font-size: 12px;
}
.forget .form-container .form-item .code-refresh {
  color: #fc4607;
  font-size: 12px;
}
.forget .form-container .submit-container {
  padding-left: 150px;
  margin-top: 40px;
}
.forget .form-container .submit-container .submit-btn {
  width: 140px;
  height: 40px;
  color: #FFF;
  background: #218928;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.forget .form-container .set-finish {
  padding-left: 50px;
  height: 50px;
  width: 240px;
  margin: 0 auto;
  background: url("../images/set-finish.png") no-repeat left center;
}
.forget .form-container .set-finish p {
  line-height: 25px;
  color: #aaa;
  font-size: 14px;
}
.forget .form-container .set-finish p span {
  color: #fc4607;
}
.forget .form-container .set-finish p a {
  color: #333;
}
