.pay {
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #d9d9d9;
  color: #333; }
  .pay .pay-success-container {
    margin: 100px auto;
    border: 1px solid #d9d9d9;
    width: 678px;
    height: 228px; }
    .pay .pay-success-container .pay-success-title {
      text-align: center;
      background: #fafafa;
      padding: 30px 0;
      height: 68px; }
      .pay .pay-success-container .pay-success-title h1 {
        font-size: 18px;
        font-weight: bold;
        vertical-align: middle;
        line-height: 44px; }
        .pay .pay-success-container .pay-success-title h1 i {
          display: inline-block;
          background: url("../images/pay-success-icon.png");
          width: 18px;
          height: 18px;
          margin-right: 10px;
          vertical-align: middle; }
      .pay .pay-success-container .pay-success-title p {
        font-size: 12px;
        line-height: 24px; }
    .pay .pay-success-container .pay-success-links {
      height: 100px;
      line-height: 100px;
      text-align: center; }
      .pay .pay-success-container .pay-success-links a {
        color: #fc4607;
        font-size: 12px;
        margin: 0 20px; }
  .pay .pay-type-container {
    margin-top: 30px; }
    .pay .pay-type-container .commodity-info {
      width: 1000px;
      margin: 0 auto; }
      .pay .pay-type-container .commodity-info .prompt {
        border: 1px solid #f1debd;
        height: 28px;
        padding: 0 10px;
        background: #fdf5e5;
        color: #333;
        font-size: 12px;
        line-height: 28px; }
      .pay .pay-type-container .commodity-info .order-info {
        border: 1px solid #d9d9d9;
        border-top: 0;
        padding: 30px 50px;
        overflow: hidden; }
        .pay .pay-type-container .commodity-info .order-info p {
          font-size: 14px;
          color: #333;
          line-height: 28px; }
        .pay .pay-type-container .commodity-info .order-info .fr {
          margin-right: 10px;
          line-height: 84px; }
          .pay .pay-type-container .commodity-info .order-info .fr strong {
            font-size: 24px;
            color: #fc4607;
            margin: 0 5px; }
    .pay .pay-type-container .pay-type-center {
      border: 1px solid #d9d9d9;
      padding: 20px 25px;
      width: 948px;
      margin: 10px auto 0;
      background: #f4fafc; }
      .pay .pay-type-container .pay-type-center h1 {
        font-size: 16px; }
      .pay .pay-type-container .pay-type-center .item-container {
        margin-top: 25px; }
        .pay .pay-type-container .pay-type-center .item-container label {
          height: 38px;
          line-height: 38px;
          margin-right: 20px;
          cursor: pointer; }
          .pay .pay-type-container .pay-type-center .item-container label img, .pay .pay-type-container .pay-type-center .item-container label input {
            vertical-align: middle; }
          .pay .pay-type-container .pay-type-center .item-container label input {
            margin-right: 5px; }
      .pay .pay-type-container .pay-type-center .btn-center {
        margin-top: 20px;
        text-align: center; }
        .pay .pay-type-container .pay-type-center .btn-center .btn {
          border: none;
          width: 120px;
          height: 40px;
          color: #fff;
          background: #fc4607;
          font-size: 16px;
          cursor: pointer;
          outline: none; }

/*# sourceMappingURL=pay.css.map */
