.shops-list{
  padding-top:20px;

  .shops-screen{
    width: 100%;
    overflow: hidden;

    .list{
      overflow: hidden;
      border-top:1px dashed #d9d9d9;
      padding: 5px 0;

      .list-title{
        width: 80px;
        font-size:12px;
        color: #999;
        padding-left:20px;
      }

      .list-item{
        width: 1100px;

        a{
          font-size:12px;
          color: #333;
          display: inline-block;
          padding: 0 5px;

          &.active{
            color: #fc4607;
          }
        }
      }
    }
  }
  .shops-sort{
    border-top:1px solid #d9d9d9;
    background: #fafafa;
    padding: 10px 0;
    overflow: hidden;

    .fl{
      overflow: hidden;

      ul{
        display: block;

        li{
          display: block;
          float: left;
          font-size:12px;
          padding: 0 20px;
          border-right:1px solid #d9d9d9;

          a{
            color: #333;
          }

          i{
            background: url(../images/top-icon.png) no-repeat  -431px -2px;
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: 12px;
            margin-left:10px;
          }
        }
      }
    }
    .fr{
      font-size:12px;
      color: #333;
      margin-right:20px;
    }
  }

  .shop-list-container{
    width: 100%;

    ul{
      display: block;
      overflow: hidden;
      width: 105%;

      li{
        width: 228px;
        height: 358px;
        float: left;
        border:1px solid #eee;
        margin:0 12px 35px 0;

        .info-container{
          padding: 0 10px;
          font-size:12px;

          p{
            color: #999;
            line-height:24px;

            &.name{
              line-height:20px;
              height:40px;
              margin-top:8px;
            }

            a{
              color: #333;
            }

            strong{
              color: #fc4607;
              font-size:20px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
