@charset "UTF-8";
body {
  background: #fafafa;
}

.us-business-container {
  width: 100%;
}

/* 商家中心侧栏 */
.us-business-sidebar {
  width: 220px;
  background-color: #fff;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 80px;
  height: 100%;
  z-index: 9999;
}
.us-business-sidebar ul {
  display: block;
}
.us-business-sidebar ul li {
  display: block;
  vertical-align: middle;
}
.us-business-sidebar ul li .item-title {
  margin-bottom: 5px;
}
.us-business-sidebar ul li .item-container {
  margin-bottom: 10px;
}
.us-business-sidebar ul li a {
  display: block;
  line-height: 34px;
  font-size: 12px;
  color: #888;
}
.us-business-sidebar ul li a:hover, .us-business-sidebar ul li a.active {
  border-left: 2px solid #fc4607;
  color: #fc4607;
  padding-left: 43px;
  background: #fafafa;
  text-decoration: none;
}
.us-business-sidebar ul li h2 {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 34px;
  color: #333;
  background: url("../images/us-icon.png") no-repeat;
  padding-right: 10px;
}
.us-business-sidebar ul li h2.com {
  background-position: 20px 10px;
}
.us-business-sidebar ul li h2.order {
  background-position: 20px -16px;
}
.us-business-sidebar ul li h2.refund {
  background-position: 20px -45px;
}
.us-business-sidebar ul li h2.statistics {
  background-position: 20px -70px;
}
.us-business-sidebar ul li h2 i {
  display: inline-block;
  float: right;
  width: 10px;
  height: 7px;
  background: url("../images/us-icon.png") no-repeat 0px -107px;
  margin-top: 14px;
}
.us-business-sidebar ul li h2, .us-business-sidebar ul li a {
  padding-left: 45px;
}

.us-business-main {
  padding-left: 240px;
  padding-top: 80px;
  min-width: 1660px;
}
.us-business-main .us-business-center {
  width: 100%;
  padding-top: 20px;
}
.us-business-main .us-business-center.goods-container {
  background: #FFF;
}
.us-business-main .us-b-home {
  width: 100%;
}
.us-business-main .us-b-home .page-title {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  line-height: 34px;
}
.us-business-main .us-b-home .us-statistics {
  background-color: #fff;
  padding: 20px;
}
.us-business-main .us-b-home .us-statistics .tops {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  font-size: 14px;
  color: #333;
}
.us-business-main .us-b-home .us-statistics .tops b {
  font-weight: bold;
}
.us-business-main .us-b-home .us-statistics .tops i {
  display: inline-block;
  width: 12px;
  height: 14px;
  background: url(../images/us-icon.png) no-repeat 0 -119px;
  margin-right: 10px;
  vertical-align: middle;
}
.us-business-main .us-b-home .us-statistics .list {
  padding-top: 15px;
}
.us-business-main .us-b-home .us-statistics .list ul {
  overflow: hidden;
  display: block;
}
.us-business-main .us-b-home .us-statistics .list ul li {
  float: left;
  width: 25%;
  font-size: 12px;
  line-height: 20px;
  margin: 5px 0;
}
.us-business-main .us-b-home .us-statistics.sj {
  margin-top: 20px;
}
.us-business-main .us-b-home .us-statistics.sj .tops i {
  background: url(../images/us-icon.png) no-repeat 0 -145px;
}
.us-business-main .us-b-home .us-statistics.sj .list li {
  width: 25%;
}
.us-business-main .us-b-home .us-statistics.sj .list li p {
  line-height: 24px;
  color: #333;
}
.us-business-main .us-b-home .us-statistics.sj .list li strong {
  font-size: 18px;
  font-weight: bold;
  color: #fc4607;
}
.us-business-main .us-b-home .us-statistics.sj .list li span {
  color: #999;
  vertical-align: middle;
}
.us-business-main .us-b-home .us-statistics.sj .list li i {
  display: inline-block;
  width: 6px;
  height: 10px;
  vertical-align: middle;
  background-image: url(../images/us-sj-top-icon.png);
  margin-left: 10px;
}
.us-business-main .us-b-home .chart-container {
  margin-top: 25px;
  width: 100%;
  overflow: hidden;
}
.us-business-main .us-b-home .chart-container .fl {
  width: 38%;
}
.us-business-main .us-b-home .chart-container .fr {
  width: 60%;
}
.us-business-main .us-b-home .chart-container .fl, .us-business-main .us-b-home .chart-container .fr {
  background: #FFF;
}
.us-business-main .us-b-home .chart-container .fl .title, .us-business-main .us-b-home .chart-container .fr .title {
  border-bottom: 1px solid #eee;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
}
.us-business-main .add-goods-container {
  overflow: hidden;
  padding-left: 10px;
  width: 1200px;
}
.us-business-main .add-goods-container .add-goods-center ul {
  display: block;
  overflow: hidden;
}
.us-business-main .add-goods-container .add-goods-center li {
  overflow: hidden;
  margin-top: 20px;
  display: block;
}
.us-business-main .add-goods-container .add-goods-center li .list-title {
  display: block;
  float: left;
  width: 120px;
  text-align: right;
  float: left;
  font-size: 14px;
  line-height: 32px;
}
.us-business-main .add-goods-container .add-goods-center li .list-center {
  float: left;
  margin-left: 10px;
}
.us-business-main .add-goods-container .add-goods-center li .list-center input, .us-business-main .add-goods-container .add-goods-center li .list-center select {
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
}
.us-business-main .add-goods-container .add-goods-center li .list-center input {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  width: 238px;
}
.us-business-main .add-goods-container .add-goods-center li .list-center select {
  padding: 0 5px;
  height: 32px;
  width: 260px;
}
.us-business-main .add-goods-container .add-goods-center li .list-center p.error {
  line-height: 24px;
  color: #f00;
  font-size: 14px;
}
.us-business-main .add-goods-container .add-goods-center li .list-center #edit-info {
  border: 1px solid #ccc;
  width: 980px;
  padding: 10px;
}
.us-business-main .add-goods-container .add-goods-center .upload-container .upload-item {
  display: block;
  float: left;
  border: 1px solid #eee;
  width: 108px;
  height: 108px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}
.us-business-main .add-goods-container .add-goods-center .upload-container .upload-item .clear-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  background: url("../images/clear-btn-icon.png") no-repeat center center #ccc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-size: 50%,50%;
  display: none;
  cursor: pointer;
}
.us-business-main .add-goods-container .add-goods-center .upload-container .upload-item:hover .clear-btn {
  display: block;
}
.us-business-main .add-goods-container .add-goods-center .upload-container .upload-item img {
  width: 100%;
  height: 100%;
}
.us-business-main .add-goods-container .add-goods-center .upload-container .upload-btn {
  background: url("../images/us-upload.jpg");
  border: none;
  width: 110px;
  height: 110px;
  float: left;
  cursor: pointer;
}
.us-business-main .add-goods-container .add-goods-center .upload-container p {
  clear: both;
  font-size: 14px;
  line-height: 24px;
}
.us-business-main .add-goods-container .main-button {
  overflow: hidden;
  margin: 50px 0 100px 130px;
}
.us-business-main .add-goods-container .main-button a {
  color: #999;
  line-height: 30px;
  font-size: 14px;
}
.us-business-main .add-goods-container .main-button input[type="button"] {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-right: 30px;
}
.us-business-main .add-goods-container .main-button-red {
  color: #fff;
  background-color: #FC4607;
  border: 1px solid #FC4607;
}
.us-business-main .add-goods-container .main-button-pink {
  color: #FC4607;
  background-color: #FFF4F4;
  border: 1px solid #FC4607;
}
.us-business-main .add-goods-container .main-button-white {
  color: #888;
  background-color: #fff;
  border: 1px solid #fff;
}

/*商家中心 面包屑导航*/
.us-business-crumbs {
  line-height: 34px;
  font-size: 14px;
}
.us-business-crumbs a, .us-business-crumbs span {
  color: #333;
}
.us-business-crumbs em {
  font-family: "宋体";
  margin: 0 5px;
  font-size: 12px;
}
