body{
  background: #fafafa;
}
.us-business-container{
  width: 100%;
}

/* 商家中心侧栏 */
.us-business-sidebar{
  width: 220px;
  background-color: #fff;
  padding-top:20px;
  position: fixed;
  left: 0;
  top:80px;
  height: 100%;
  z-index:9999;

  ul{
    display: block;

    li{
      display: block;
      vertical-align: middle;

      .item-title{
        margin-bottom:5px;
      }
      .item-container{
        margin-bottom:10px;
      }

      a{
        display: block;
        line-height:34px;
        font-size:12px;
        color: #888;

        &:hover,&.active{
          border-left:2px solid #fc4607;
          color: #fc4607;
          padding-left:43px;
          background: #fafafa;
          text-decoration: none;
        }
      }
      
      h2{
        display: block;
        font-weight: bold;
        font-size:14px;
        line-height:34px;
        color: #333;
        background: url("../images/us-icon.png") no-repeat;
        padding-right:10px;

        &.com{
          background-position: 20px 10px;
        }

        &.order{
          background-position: 20px -16px;
        }

        &.refund{
          background-position: 20px -45px;
        }
        &.statistics{
          background-position: 20px -70px;
        }

        i{
          display: inline-block;
          float: right;
          width: 10px;
          height: 7px;
          background: url("../images/us-icon.png") no-repeat 0px -107px;
          margin-top:14px;
        }
      }
      h2,a{
        padding-left:45px;
      }
    }
  }
}


.us-business-main{
  padding-left:240px;
  padding-top:80px;
  min-width:1660px;

  .us-business-center{
    width: 100%;
    padding-top:20px;

    &.goods-container{
      background: #FFF;
    }
  }

  //首页
  .us-b-home{
    width:100%;

    .page-title{
      font-weight: bold;
      font-size:14px;
      color: #333;
      line-height:34px;
    }

    .us-statistics{
      background-color: #fff;
      padding:20px;

      .tops{
        border-bottom:1px solid #eee;
        padding-bottom:5px;
        font-size:14px;
        color: #333;

        b{
          font-weight: bold;
        }

        i{
          display: inline-block;
          width: 12px;
          height: 14px;
          background: url(../images/us-icon.png) no-repeat 0 -119px;
          margin-right:10px;
          vertical-align: middle;
        }
      }
      .list{
        padding-top:15px;

        ul{
          overflow: hidden;
          display: block;

          li{
            float: left;
            width: 25%;
            font-size:12px;
            line-height:20px;
            margin: 5px 0;
          }
        }
      }

      &.sj{
        margin-top:20px;

        .tops{
          i{
            background: url(../images/us-icon.png) no-repeat 0 -145px;
          }
        }

        .list{
          li{
            width: 25%;

            p{
              line-height:24px;
              color: #333;
            }

            strong{
              font-size:18px;
              font-weight:bold;
              color: #fc4607;
            }
            
            span{
              color: #999;
              vertical-align: middle;
            }

            i{
              display: inline-block;
              width: 6px;
              height: 10px;
              vertical-align: middle;
              background-image: url(../images/us-sj-top-icon.png);
              margin-left:10px;
            }
          }
        }
      }
    }

    .chart-container{
      margin-top:25px;
      width: 100%;
      overflow:hidden;

      .fl{
        width: 38%;
      }
      .fr{
        width: 60%;
      }
      .fl,.fr{
        background: #FFF;

        .title{
          border-bottom:1px solid #eee;
          height: 40px;
          line-height:40px;
          padding: 0 10px;
          font-weight: bold;
          font-size:14px;
          color: #333;
          margin-bottom:15px;
        }
      }
    }
  }

  // 添加商品

  .add-goods-container{
    overflow: hidden;
    padding-left:10px;
    width:1200px;

    .add-goods-center{
      ul{
        display: block;
        overflow: hidden;
      }
      li{
        overflow: hidden;
        margin-top: 20px;
        display: block;

        .list-title{
          display: block;
          float: left;
          width: 120px;
          text-align: right;
          float: left;
          font-size:14px;
          line-height:32px;
        }
        .list-center{
          float: left;
          margin-left:10px;

          input,select{
            border-radius: 5px;
            outline: none;
            border:1px solid #ccc;
          }

          input{
            padding: 0 10px;
            height:30px;
            line-height:30px;
            width: 238px;
          }
          select{
            padding: 0 5px;
            height: 32px;
            width: 260px;
          }

          p.error{
            line-height:24px;
            color: #f00;
            font-size:14px;
          }

          #edit-info{
            border: 1px solid #ccc;
            width: 980px;
            padding: 10px;
          }
        }

      }
      .upload-container{
        .upload-item{
          display: block;
          float: left;
          border: 1px solid #eee;
          width: 108px;
          height: 108px;
          margin-right:10px;
          margin-bottom:10px;
          position: relative;

          .clear-btn{
            position: absolute;
            right:0px;
            top:0px;
            background: url("../images/clear-btn-icon.png") no-repeat center center #ccc;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-size: 50%,50%;
            display: none;
            cursor: pointer;
          }

          &:hover{
            .clear-btn{
              display: block;
            }
          }

          img{
            width: 100%;
            height: 100%;
          }
        }

        .upload-btn{
          background: url("../images/us-upload.jpg");
          border: none;
          width: 110px;
          height: 110px;
          float: left;
          cursor: pointer;
        }
        p{
          clear: both;
          font-size:14px;
          line-height:24px;
        }
      }
    }

    .main-button{
      overflow: hidden;
      margin: 50px 0 100px 130px;
      
      a{
        color: #999;
        line-height:30px;
        font-size:14px;
      }
    }


    .main-button input[type="button"]{
      width: 100px;
      height: 30px;
      line-height: 30px;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
      margin-right:30px;
    }
    .main-button-red{
      color: #fff;
      background-color: #FC4607;
      border: 1px solid #FC4607;
    }
    .main-button-pink{
      color: #FC4607;
      background-color: #FFF4F4;
      border: 1px solid #FC4607;
    }
    .main-button-white{
      color: #888;
      background-color: #fff;
      border: 1px solid #fff;
    }

  }


}
/*商家中心 面包屑导航*/
.us-business-crumbs{
  line-height:34px;
  font-size:14px;

  a,span{
    color: #333;
  }
  em{
    font-family: "宋体";
    margin: 0 5px;
    font-size:12px;
  }
}