body{
  background: #fafafa;
}
.us-business-container{
  width: 100%;
}

/* 商家中心侧栏 */
.us-business-sidebar{
  width: 220px;
  background-color: #fff;
  padding-top:20px;
  position: fixed;
  left: 0;
  top:80px;
  height: 100%;
  z-index:9999;

  ul{
    display: block;

    li{
      display: block;
      vertical-align: middle;

      .item-title{
        margin-bottom:5px;
      }
      .item-container{
        margin-bottom:10px;
      }

      a{
        display: block;
        line-height:34px;
        font-size:12px;
        color: #888;

        &:hover,&.active{
          border-left:2px solid #fc4607;
          color: #fc4607;
          padding-left:43px;
          background: #fafafa;
          text-decoration: none;
        }
      }
      
      h2{
        display: block;
        font-weight: bold;
        font-size:14px;
        line-height:34px;
        color: #333;
        background: url("../images/us-icon.png") no-repeat;
        padding-right:10px;

        &.com{
          background-position: 20px 10px;
        }

        &.order{
          background-position: 20px -16px;
        }

        &.refund{
          background-position: 20px -45px;
        }
        &.statistics{
          background-position: 20px -70px;
        }

        i{
          display: inline-block;
          float: right;
          width: 10px;
          height: 7px;
          background: url("../images/us-icon.png") no-repeat 0px -107px;
          margin-top:14px;
        }
      }
      h2,a{
        padding-left:45px;
      }
    }
  }
}


.us-business-main{
  padding-left:240px;
  padding-top:80px;
  min-width:1660px;

  .us-business-center{
    width: 100%;
    padding-top:20px;
  }

  .us-b-home{
    width:100%;

    .page-title{
      font-weight: bold;
      font-size:14px;
      color: #333;
      line-height:34px;
    }

    .us-statistics{
      background-color: #fff;
      padding:20px;

      .tops{
        border-bottom:1px solid #eee;
        padding-bottom:5px;
        font-size:14px;
        color: #333;

        b{
          font-weight: bold;
        }

        i{
          display: inline-block;
          width: 12px;
          height: 14px;
          background: url(../images/us-icon.png) no-repeat 0 -119px;
          margin-right:10px;
          vertical-align: middle;
        }
      }
      .list{
        padding-top:15px;

        ul{
          overflow: hidden;
          display: block;

          li{
            float: left;
            width: 25%;
            font-size:12px;
            line-height:20px;
            margin: 5px 0;
          }
        }
      }

      &.sj{
        margin-top:20px;

        .tops{
          i{
            background: url(../images/us-icon.png) no-repeat 0 -145px;
          }
        }

        .list{
          li{
            width: 25%;

            p{
              line-height:24px;
              color: #333;
            }

            strong{
              font-size:18px;
              font-weight:bold;
              color: #fc4607;
            }
            
            span{
              color: #999;
              vertical-align: middle;
            }

            i{
              display: inline-block;
              width: 6px;
              height: 10px;
              vertical-align: middle;
              background-image: url(../images/us-sj-top-icon.png);
              margin-left:10px;
            }
          }
        }
      }
    }

    .chart-container{
      margin-top:25px;
      width: 100%;
      overflow:hidden;

      .fl{
        width: 38%;
      }
      .fr{
        width: 60%;
      }
      .fl,.fr{
        background: #FFF;

        .title{
          border-bottom:1px solid #eee;
          height: 40px;
          line-height:40px;
          padding: 0 10px;
          font-weight: bold;
          font-size:14px;
          color: #333;
          margin-bottom:15px;
        }
      }
    }
  }
}
/*商家中心 面包屑导航*/
.us-business-crumbs{
  line-height:34px;
  font-size:14px;

  a,span{
    color: #333;
  }
  em{
    font-family: "宋体";
    margin: 0 5px;
    font-size:12px;
  }
}