.u-header{
  width: 100%;
  height: 80px;
  background: #218928;
  margin-bottom:25px;

  .fl{
    padding:  10px 0;
    line-height:60px;
    color: #FFF;
    font-size:16px;

    img{
      margin-right:25px;
      vertical-align: middle;
    }
  }
  .fr{
    ul{
      overflow: hidden;
      li{
        float: left;
        padding: 20px 30px;
        line-height:40px;
        font-size:14px;

        a{
          color: #FFF;
        }
      }
    }
  }
}
.u-main{
  width: 100%;
  .u-center{
    width: 1200px;
    overflow: hidden;
    margin:0 auto;
  }

  .sidebar{
    width: 200px;
    background: #fafafa;
    float: left;
    padding: 15px 10px;

    .u-user{
      text-align: center;
      margin-bottom:20px;

      img{
        display:inline-block;
        width: 84px;
        height: 84px;
        border-radius: 50%;
        margin-bottom:10px;
      }
      p{
        font-size:14px;
        line-height:18px;
        color: #333;

        span{
          font-size:12px;
          color: #999;
        }
      }
    }
    .sidebar-nav{
      overflow: hidden;
      padding: 0 20px;

      h3{
        font-weight: bold;
        padding: 7px 0;
        line-height:24px;
        font-size:14px;

        a,span{
          color: #333;
        }
      }

      p{
        line-height:24px;
        padding: 5px 0;
      }

      a{
        font-size:14px;
        color: #999;
      }
    }
  }
  .u-main-center{
    width: 960px;
    float: right;


    // 主页
    &.u-index{
      .u-center-top{
        background: #fafafa;
        padding: 10px 20px;
        overflow: hidden;

        .user-info-container{
          width: 473px;
          border-right:2px solid #aaa;
          overflow: hidden;
          float: left;
          padding: 10px 0;

          .us-header{
            width: 84px;
            height: 84px;
            display: block;
            float: left;
            border-radius: 50%;
            margin-right:24px;

            img{
              width: 100%;
              height: 100%;
            }
          }

          p{
            font-size:12px;
            color: #666;
            line-height:24px;

            &.name{
              font-size:14px;
              color: #333;
            }

            &.modify{
              margin-top:10px;

              a{
                color: #fc4607;
              }
            }
          }
        }
        .user-info-dynamic{
          float: left;
          margin-left:20px;
          width: 425px;
          padding: 10px 0;
        
          .title{
            font-size:14px;
            line-height:16px;
            
            a{
              font-size:12px;
              color: #666;
            }
          }

          .order-container{
            margin-top:10px;
            overflow: hidden;

            img{
              float: left;
              width: 60px;
              height: 60px;
              margin-right:10px;
            }

            p{
              font-size:12px;
              color: #999;
              line-height:20px;
            
              a{
                color: #fc4607;
              }
            }
          }
        }
      }

      .list-container{
        width: 100%;
        margin-top:20px;
        border-top:2px solid #218928;
        padding-top:10px;

        .title{
          height:32px;
          line-height:24px;
          padding: 0 20px;

          h2{
            color:#000;
            font-weight: bold;
            font-size:14px;
          }
          a{
            color: #999;
            font-size:12px;

            i{
              display: inline-block;
              vertical-align: middle;
              margin-left:5px;

              &.us_refresh-icon{
                background: url("../images/us_refresh_icon.png");
                width: 14px;
                height: 12px;
              }
            }
          }
        }

        .list-center{
          width: 100%;

          ul{
            display: block;
            overflow: hidden;

            li{
              width: 218px;
              float: left;
              margin: 0 11px;

              .com-img{
                display: block;
                width: 218px;

                img{
                  display: block;
                  width: 216px;
                  height: 216px;
                  border: 1px solid #d9d9d9;
                  margin-bottom:10px;
                }
              }

              p{
                line-height:16px;
                font-size:12px;
                &,& a{
                  color: #333;
                }

                &.name{
                  height: 32px;
                  margin-bottom:5px;
                }

                strong{
                  color: #fc4607;
                  font-size:14px;
                }
              }
            }
          }
        }
      }
    }

    // 用户资料编辑
    &.u-edit-info{
      .edit-info-center{
        padding:20px 10px;

        .form-center{
          margin-top:20px;

          .prompt{
            font-size:14px;
            color: #333;
            margin-bottom:20px;

            b{
              font-size:16px;
              font-weight: bold;
              color: #fc4607;
            }
          }

          .from-list{
            margin-bottom:20px;
            width: 500px;
            
            .form-title{
              width: 90px;
              height:28px;
              line-height:28px;
              text-align: right;
            }
            .form-list-center{
              width: 400px;
              margin-left:10px;

              .header-upload{
                display: block;
                width: 80px;
                height: 80px;
                position: relative;

                img{
                  width: 100%;
                  height: 100%;
                }

                p{
                  position: absolute;
                  z-index: 100;
                  width: 100%;
                  color: #fff;
                  font-size:12px;
                  text-align: center;
                  height: 18px;
                  line-height:18px;
                  background: rgba(0,0,0,0.5);
                  left: 0;
                  bottom: 0;
                }
              }

              label{
                line-height:28px;
                vertical-align: middle;
                margin-right:10px;
                cursor: pointer;

                input[type='radio']{
                  vertical-align: middle;
                  margin: 0 5px 0 0;
                }
              }

              input[type='text']{
                height: 26px;
                line-height:26px;
                border-radius: 3px;
                width: 138px;

                &.address{
                  width: 335px;
                  margin-top:10px;
                }
              }

              select{
                width: 110px;
                height:28px;
                line-height:28px;
                border-radius: 3px;
                margin-right:10px;
              }
            }
          }

          .submit-container{
            margin-left:100px;

            .submit-btn{
              width: 86px;
              height: 28px;
              background: #fc4607;
              border: none;
              cursor: pointer;
              color: #FFF;
              font-size:12px;
              border-radius: 5px;
              outline: none;
            }
          }
        }
      }
    }

    // 修改密码
    &.u-modify-pass{
      .modify-pass-center{
        padding: 0 10px;
      }
    }
    &.u-modify-pass,&.u-modify-phone{
      .form-center{
        margin:100px auto 0;
        width: 380px;
        border: 1px solid #d9d9d9;
        padding: 40px 80px;

        .from-list{
          width: 380px;
          margin-bottom:20px;

          .form-title{
            width: 100px;
            line-height:32px;
            text-align: right;
          }
          .form-list-center{
            width:260px;
            margin-left:10px;

            input[type='text']{
              line-height:30px;
              border-radius: 3px;
              height: 30px;
              width: 240px;
            }
          }
        }
        .submit-container{
          text-align: center;

          .submit-btn{
            width: 140px;
            height: 32px;
            background: #fc4607;
            border: none;
            cursor: pointer;
            color: #FFF;
            font-size:14px;
            border-radius: 5px;
            outline: none;
          }
        }
      }
    }

    // 修改手机号码
    &.u-modify-phone{
      .form-list-center{
        .text{
          line-height:32px;
        }
        .code-btn{
          margin-top:5px;
          width: 80px;
          height: 22px;
          display: block;
          border-radius: 3px;
          background: #fc4607;
          text-align: center;
          line-height:22px;
          color: #FFF;
        }
      }
    }

    // 收货地址管理
    &.u-address{

      .address-container{
        width: 100%;

        // 添加地址
        .add-address-container{
          padding:20px 0 30px 0;
          border-bottom:1px solid #eee;

          .from-list{
            margin-bottom:20px;

            .form-title{
              width: 80px;
              text-align: right;
              line-height:32px;

              i{
                font-size:12px;
                color: #F00;
              }
            }
            .form-list-center{
              margin-left:10px;
              width: 400px;

              input[type='text'],select,textarea{
                border-radius: 3px;
              }
              input[type='text']{
                height:30px;
                line-height:30px;
                width: 240px;
              }

              select{
                width: 120px;
                height: 32px;
                margin-right:5px;
                margin-bottom:10px;
              }

              .qh,.hm{
                float: left;
              }
              .qh{
                margin-right:10px;

                input[type='text']{
                  width: 68px;
                }
              }
              .hm{
                input[type='text']{
                  width: 140px;
                }
              }
            }
          }

          .default-checked{
            line-height:20px;
            font-size:12px;
            padding-left:90px;

            label{
              vertical-align: middle;

              input{
                vertical-align: middle;
              }
            }
          }

          .submit-container{
            margin-top:20px;
            padding-left:90px;

            .submit-btn{
              border-radius: 3px;
              background: #fc4607;
              text-align: center;
              color: #FFF;
              width: 120px;
              height: 32px;
              border: none;
              cursor: pointer;
              outline: none;
            }
          }
        }

        // 地址列表
        .address-list-container{
          margin-top:30px;

          h3{
            padding: 0 5px;
            font-size:14px;
            font-weight: bold;
            line-height:24px;
            margin-bottom:10px;
          }

          ul{
            display: block;
            overflow: hidden;
            padding: 0 20px;

            li{
              width: 260px;
              height: 108px;
              float: left;
              background: url("../images/us-address-default.png");
              padding: 8px 13px;
              margin: 0 10px 20px;

              &.active{
                background: url("../images/us-address-checked.png");
              }

              .list-top{
                border-bottom:1px solid #d9d9d9;
                font-size:12px;
                line-height:29px;

                b{
                  font-weight: bold;
                  margin: 0 10px 0 5px;
                }
              }

              p{
                font-size:14px;
                line-height:24px;

                &.address-phone{
                  height: 48px;
                  margin-top:5px;
                }

                a{
                  font-size:12px;
                  margin: 0 5px;
                  color: #fc4607;
                }
              }
            }
          }
        }
      }




    }

    // 我的订单
    &.u-order-list{
     .order-list-container{

       .order-list-center{
         margin-top:25px;
         border: 1px solid #d9d9d9;
         border-bottom:0;
         margin-bottom:50px;
       }
       .order-list-title{
         border-bottom:1px solid #D9D9D9;
         height:38px;
         line-height:38px;
         
         li{
           float: left;
           text-align: center;
           font-size:14px;
           color: #333;

           &.com-w-38{
             width:38%;
           }
           &.com-w-14{
             width: 14%;
           }
           &.com-w-10{
             width: 10%;
           }
         }
       }

       .order-list-orderNumInfo{
         height: 38px;
         overflow: hidden;
         padding: 0 10px;
         line-height:38px;
         background: #e8f3e9;
         font-size:12px;
         border-bottom:1px solid #c6d1c7;

         p{
           color: #999;

           span{
             margin-right:20px;
           }
         }
       }
       
       .order-info{
         overflow: hidden;

         .order-com-list{
           float: left;
           width: 556px;

           ul{
             display: block;

             li{
               display: block;
               overflow: hidden;
               height: 60px;
               line-height:60px;
               font-size:12px;
               padding: 20px 0;
               border-bottom:1px solid #D9D9D9;

               p{
                 line-height:20px;

                 a{
                   color: #333;
                 }
               }

               .com{
                 padding-left:20px;
                 width:344px;
                 float: left;

                 img{
                   display: block;
                   width: 58px;
                   height: 58px;
                   border:1px solid #D9D9D9 ;
                   float: left;
                   margin-right:10px;
                 }
               }
               .num{
                 float: left;
                 width: 96px;
                 text-align: center;
               }
             }
           }
         }
         .order-operate{
           float: left;

           ul{
             overflow: hidden;
             display: block;

             li{
               float: left;
               border-left:1px solid #D9D9D9;
               border-bottom:1px solid #D9D9D9;
               font-size:12px;
               text-align: center;
               width: 133px;
               line-height:60px;

               p{
                 margin-top:5px;
                 line-height:20px;

                 a{
                   color: #333;
                 }
               }
             }
           }
         }
       }
     }
    }

    &.u-collection{
      .collection-container{
        overflow: hidden;

        .collection-title{
          font-size:14px;
          color: #333;
          margin-top:20px;

          b{
            font-weight: bold;
          }
        }
      }
      .collection-list-container{
        margin-top:20px;
        
        ul{
          display: block;
          overflow: hidden;
          margin-bottom:40px;
          
          li{
            float: left;
            display: block;
            width: 220px;
            margin: 0 10px;

            .com-img{
              width:218px;
              height: 218px;
              border: 1px solid #D9D9D9;
              position: relative;

              img{
                width: 100%;
                height: 100%;
              }

              .clear-btn {
                width: 34px;
                height: 34px;
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                background:url("../images/clear-btn-icon.png") no-repeat center center rgba(0,0,0,0.5);

                &:hover{
                  background:url("../images/clear-btn-icon.png") no-repeat center center rgba(252,50,7,1);
                }
              }
              p{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 34px;
                background: rgba(0,0,0,0.3);
                line-height:34px;
                text-align: center;
                font-size:14px;

                &:hover{
                  background: rgba(252,50,7,1);
                }
                a{
                  color: #FFF;
                }
              }
            }

            p.com-name{
              line-height:20px;
              font-size:14px;
              height: 40px;
              margin-top:10px;

              a{
                color: #333;
              }
            }

            p{
              font-size:12px;
              line-height:20px;

              strong{
               color: rgba(252,50,7,1);
              }
            }
          }
        }
      }
    }

    // 消息
    &.us-news{
      .news-container{
        .news-center{
          overflow: hidden;

          ul{
            display: block;
            margin-bottom:40px;

            li{
              display: block;
              border-bottom:1px solid #d9d9d9;
              padding:20px 0;

              h3{
                height: 18px;
                line-height:18px;
                font-weight: bold;
                font-size:14px;
                vertical-align: middle;

                i{
                  display: inline-block;
                  width: 3px;
                  height: 14px;
                  vertical-align: middle;
                  background: #218928;
                  margin-right:10px;
                }
                .clear-btn{
                  background: url("../images/clear-btn-icon.png") no-repeat center rgba(0,0,0,0.4);
                  width: 20px;
                  height: 20px;
                  float: right;
                  display: block;
                  background-size: 60%;
                  border-radius: 50%;
                }
              }
              p{
                font-size:12px;
                color: #aaa;

                a{
                  color: #ff4e00;
                }
              }

              .text{
                font-size:14px;
                color: #333;
                margin: 10px 0;
                text-indent:24px;
              }
              .com-logistics{
                margin: 10px 0;
                overflow:hidden;

                img{
                  float: left;
                  width: 80px;
                  height: 80px;
                  margin-right:20px;
                }

                p{
                  line-height:24px;

                  a{
                    color: #333;
                  }
                }
              }
            }
          }
        }
      }
    }


    &.us-evaluate{
      .evaluate-container{
        .evaluate-center{
          width: 938px;
          border: 1px solid #d9d9d9;
          margin: 20px auto;
          font-size:12px;

          table{
            width: 100%;
            border-collapse: collapse;
          }
          th,td{
            border-bottom:1px solid #D9D9D9;
          }

          th{
            height: 38px;
            line-height:38px;
            background: #fafafa;

            &:nth-child(1){
              text-align: left;
              text-indent:10px;
            }
            select{
              width: 100px;
              height: 24px;
              outline: none;
            }
          }
          tr:last-child{
            td{
              border-bottom: none;
            }
          }

          td{
            text-align: center;
            padding: 15px 0;

            i{
              display:inline-block;
              width: 12px;
              height: 12px;
              background: url("../images/evaluate-icon.png") no-repeat -17px 0;
              &.on{
                background: url("../images/evaluate-icon.png") no-repeat 0 0;
              }
            }

            a{
              display: inline-block;
              border: 1px solid #ff4e00;
              color: #ff4e00;
              width: 68px;
              height: 26px;
              line-height:26px;
              text-align: center;
              border-radius: 3px;

              &:hover{
                background: #ff4e00;
                color: #FFF;
                text-decoration: none;
              }
            }
            p{
              text-align: left;
              line-height:20px;

              &.txt{
                height: 40px;
                overflow: hidden;
              }
            }
            span{
              color: #999;
            }
          }
        }
      }
    }


    //  安全服务
    &.us-security{
      .security-center{
        font-size:14px;
        padding-top:20px;

        table {
          border-collapse: collapse;
          width: 100%;
        }

        a{
          color: #FC6A38;
        }
        p{
          line-height:24px;
        }
        h3{
          font-weight: bold;
          line-height:32px;
          margin-top:30px;
          margin-bottom:20px;
        }
        table td, h3{
          border-bottom: 1px solid #CCC;
        }
        .table-color{
          color: #999;
        }
        td{
          line-height:18px;
          padding: 20px 0;
        }
      }
    }

    // 公共标题
    .page-title{
      border-bottom:1px solid #d9d9d9;

      h1{
        font-size:16px;
        color: #000;
        line-height:40px;
        font-weight: bold;
      }
    }

    // tab-title
    .tab-title{
      margin-top:10px;
      width: 100%;
      border-bottom:1px solid #D9D9D9;
      height:38px;
      line-height:38px;

      ul{
        display: block;
        height: 38px;

        li{
          float: left;

          a{
            display: block;
            font-size:14px;
            color: #999;
            font-weight: bold;
            padding: 0 15px;
            height: 38px;
          }

          &:hover,&.active{
            a{
              text-decoration: none;
              height: 37px;
              color: #333;
              border-bottom:2px solid #218928;
            }
          }
        }
      }
    }

    // 用户中心公共表单格式
    .from-list{
      overflow: hidden;
      font-size:12px;

      .form-title{
        float: left;
      }
      .form-list-center{
        float: left;

        input[type='text'],input[type='password'],select,textarea{
          border: 1px solid #d9d9d9;
          outline: none;
        }
        input[type='text'],input[type='password'],textarea{
          outline: none;
          padding: 0 10px;
        }
        .error{
          color: #f00;
          font-size:12px;
          line-height:18px;
        }
      }
    }
  }
}

.layer-container{
  display: none;
}
#edit-evaluate{
  width: 680px;
  padding: 20px;
  background: #FFF;
  position: relative;

  #closeBtn{
    background: url("../images/closeBtn.png") no-repeat;
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    right: 5px;
    top: 10px;
  }

  ul{
    display: block;

    li{
      margin-bottom:20px;
      overflow: hidden;
      display: block;
      font-size:12px;
      color: #333;
      
      .title{
        float: left;
        width: 65px;
        text-align: right;
      }
      .list-center{
        float: left;
        width: 615px;

        .com-info{
          padding: 10px;
          background:#fafafa;
          overflow: hidden;
          
          img{
            width:80px;
            height: 80px;
            float: left;
            margin-right:20px;
          }

          p.com-txt{
            margin-top:10px;
          }
          p{
            line-height:20px;
          }
          span{
            color: #999;
          }
        }

        .evaluate-icon{
          float: left;
          margin-right:20px;

          i{
            display:inline-block;
            width: 12px;
            height: 12px;
            background: url("../images/evaluate-icon.png") no-repeat -17px 0;
            &.on{
              background: url("../images/evaluate-icon.png") no-repeat 0 0;
            }
          }
        }

        textarea{
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #D9D9D9;
          resize: none;
          outline: none;
          width: 590px;
          height: 80px;
        }
        .evaluate-img{
          margin-top:20px;

          p{
            margin-bottom:10px;

            a{
              display: inline-block;
              width: 78px;
              height: 26px;
              border: 1px solid #ff4e00;
              color: #ff4e00;
              background: #fff7f7;
              text-align: center;
              line-height:26px;
              border-radius: 3px;

              &:hover{
                text-decoration: none;
                color: #fff;
                background: #ff4e00;
              }
            }
          }
          .evaluate-img-center{
            img{
              display: block;
              float: left;
              width: 60px;
              height: 60px;
              margin: 0 10px;
              border-radius: 5px;
            }
          }
        }

        .sbm-btn{
          width: 120px;
          height: 32px;
          border: 1px solid #ff4e00;
          color: #fff;
          background: #ff4e00;
          text-align: center;
          border-radius: 3px;
          cursor: pointer;
          outline: none;
        }
      }
    }
  }
}