.u-header{
  width: 100%;
  height: 80px;
  background: #218928;
  margin-bottom:25px;

  .fl{
    padding:  10px 0;
    line-height:60px;
    color: #FFF;
    font-size:16px;

    img{
      margin-right:25px;
      vertical-align: middle;
    }
  }
  .fr{
    ul{
      overflow: hidden;
      li{
        float: left;
        padding: 20px 30px;
        line-height:40px;
        font-size:14px;

        a{
          color: #FFF;
        }
      }
    }
  }
}
.u-main{
  width: 100%;
  .u-center{
    width: 1200px;
    overflow: hidden;
    margin:0 auto;
  }

  .sidebar{
    width: 200px;
    background: #fafafa;
    float: left;
    padding: 15px 10px;

    .u-user{
      text-align: center;
      margin-bottom:20px;

      img{
        display:inline-block;
        width: 84px;
        height: 84px;
        border-radius: 50%;
        margin-bottom:10px;
      }
      p{
        font-size:14px;
        line-height:18px;
        color: #333;

        span{
          font-size:12px;
          color: #999;
        }
      }
    }
    .sidebar-nav{
      overflow: hidden;
      padding: 0 20px;

      h3{
        font-weight: bold;
        padding: 7px 0;
        line-height:24px;
        font-size:14px;

        a,span{
          color: #333;
        }
      }

      p{
        line-height:24px;
        padding: 5px 0;
      }

      a{
        font-size:14px;
        color: #999;
      }
    }
  }
  .u-main-center{
    width: 960px;
    float: right;


    // 主页
    &.u-index{
      .u-center-top{
        background: #fafafa;
        padding: 10px 20px;
        overflow: hidden;

        .user-info-container{
          width: 473px;
          border-right:2px solid #aaa;
          overflow: hidden;
          float: left;
          padding: 10px 0;

          .us-header{
            width: 84px;
            height: 84px;
            display: block;
            float: left;
            border-radius: 50%;
            margin-right:24px;

            img{
              width: 100%;
              height: 100%;
            }
          }

          p{
            font-size:12px;
            color: #666;
            line-height:24px;

            &.name{
              font-size:14px;
              color: #333;
            }

            &.modify{
              margin-top:10px;

              a{
                color: #fc4607;
              }
            }
          }
        }
        .user-info-dynamic{
          float: left;
          margin-left:20px;
          width: 425px;
          padding: 10px 0;
        
          .title{
            font-size:14px;
            line-height:16px;
            
            a{
              font-size:12px;
              color: #666;
            }
          }

          .order-container{
            margin-top:10px;
            overflow: hidden;

            img{
              float: left;
              width: 60px;
              height: 60px;
              margin-right:10px;
            }

            p{
              font-size:12px;
              color: #999;
              line-height:20px;
            
              a{
                color: #fc4607;
              }
            }
          }
        }
      }

      .list-container{
        width: 100%;
        margin-top:20px;
        border-top:2px solid #218928;
        padding-top:10px;

        .title{
          height:32px;
          line-height:24px;
          padding: 0 20px;

          h2{
            color:#000;
            font-weight: bold;
            font-size:14px;
          }
          a{
            color: #999;
            font-size:12px;

            i{
              display: inline-block;
              vertical-align: middle;
              margin-left:5px;

              &.us_refresh-icon{
                background: url("../images/us_refresh_icon.png");
                width: 14px;
                height: 12px;
              }
            }
          }
        }

        .list-center{
          width: 100%;

          ul{
            display: block;
            overflow: hidden;

            li{
              width: 218px;
              float: left;
              margin: 0 11px;

              .com-img{
                display: block;
                width: 218px;

                img{
                  display: block;
                  width: 216px;
                  height: 216px;
                  border: 1px solid #d9d9d9;
                  margin-bottom:10px;
                }
              }

              p{
                line-height:16px;
                font-size:12px;
                &,& a{
                  color: #333;
                }

                &.name{
                  height: 32px;
                  margin-bottom:5px;
                }

                strong{
                  color: #fc4607;
                  font-size:14px;
                }
              }
            }
          }
        }
      }
    }

    // 用户资料编辑
    &.u-edit-info{
      .edit-info-center{
        padding:20px 10px;

        .form-center{
          margin-top:20px;

          .prompt{
            font-size:14px;
            color: #333;
            margin-bottom:20px;

            b{
              font-size:16px;
              font-weight: bold;
              color: #fc4607;
            }
          }

          .from-list{
            margin-bottom:20px;
            width: 500px;
            
            .form-title{
              width: 90px;
              height:28px;
              line-height:28px;
              text-align: right;
            }
            .form-list-center{
              width: 400px;
              margin-left:10px;

              .header-upload{
                display: block;
                width: 80px;
                height: 80px;
                position: relative;

                img{
                  width: 100%;
                  height: 100%;
                }

                p{
                  position: absolute;
                  z-index: 100;
                  width: 100%;
                  color: #fff;
                  font-size:12px;
                  text-align: center;
                  height: 18px;
                  line-height:18px;
                  background: rgba(0,0,0,0.5);
                  left: 0;
                  bottom: 0;
                }
              }

              label{
                line-height:28px;
                vertical-align: middle;
                margin-right:10px;
                cursor: pointer;

                input[type='radio']{
                  vertical-align: middle;
                  margin: 0 5px 0 0;
                }
              }

              input[type='text']{
                height: 26px;
                line-height:26px;
                border-radius: 3px;
                width: 138px;

                &.address{
                  width: 335px;
                  margin-top:10px;
                }
              }

              select{
                width: 110px;
                height:28px;
                line-height:28px;
                border-radius: 3px;
                margin-right:10px;
              }
            }
          }

          .submit-container{
            margin-left:100px;

            .submit-btn{
              width: 86px;
              height: 28px;
              background: #fc4607;
              border: none;
              cursor: pointer;
              color: #FFF;
              font-size:12px;
              border-radius: 5px;
              outline: none;
            }
          }
        }
      }
    }

    // 修改密码
    &.u-modify-pass{
      .modify-pass-center{
        padding: 0 10px;
      }
    }
    &.u-modify-pass,&.u-modify-phone{
      .form-center{
        margin:100px auto 0;
        width: 380px;
        border: 1px solid #d9d9d9;
        padding: 40px 80px;

        .from-list{
          width: 380px;
          margin-bottom:20px;

          .form-title{
            width: 100px;
            line-height:32px;
            text-align: right;
          }
          .form-list-center{
            width:260px;
            margin-left:10px;

            input[type='text']{
              line-height:30px;
              border-radius: 3px;
              height: 30px;
              width: 240px;
            }
          }
        }
        .submit-container{
          text-align: center;

          .submit-btn{
            width: 140px;
            height: 32px;
            background: #fc4607;
            border: none;
            cursor: pointer;
            color: #FFF;
            font-size:14px;
            border-radius: 5px;
            outline: none;
          }
        }
      }
    }

    // 修改手机号码
    &.u-modify-phone{
      .form-list-center{
        .text{
          line-height:32px;
        }
        .code-btn{
          margin-top:5px;
          width: 80px;
          height: 22px;
          display: block;
          border-radius: 3px;
          background: #fc4607;
          text-align: center;
          line-height:22px;
          color: #FFF;
        }
      }
    }

    // 收货地址管理
    &.u-address{

      .address-container{
        width: 100%;

        // 添加地址
        .add-address-container{
          padding:20px 0 30px 0;
          border-bottom:1px solid #eee;

          .from-list{
            margin-bottom:20px;

            .form-title{
              width: 80px;
              text-align: right;
              line-height:32px;

              i{
                font-size:12px;
                color: #F00;
              }
            }
            .form-list-center{
              margin-left:10px;
              width: 400px;

              input[type='text'],select,textarea{
                border-radius: 3px;
              }
              input[type='text']{
                height:30px;
                line-height:30px;
                width: 240px;
              }

              select{
                width: 120px;
                height: 32px;
                margin-right:5px;
                margin-bottom:10px;
              }

              .qh,.hm{
                float: left;
              }
              .qh{
                margin-right:10px;

                input[type='text']{
                  width: 68px;
                }
              }
              .hm{
                input[type='text']{
                  width: 140px;
                }
              }
            }
          }

          .default-checked{
            line-height:20px;
            font-size:12px;
            padding-left:90px;

            label{
              vertical-align: middle;

              input{
                vertical-align: middle;
              }
            }
          }

          .submit-container{
            margin-top:20px;
            padding-left:90px;

            .submit-btn{
              border-radius: 3px;
              background: #fc4607;
              text-align: center;
              color: #FFF;
              width: 120px;
              height: 32px;
              border: none;
              cursor: pointer;
              outline: none;
            }
          }
        }

        // 地址列表
        .address-list-container{
          margin-top:30px;

          h3{
            padding: 0 5px;
            font-size:14px;
            font-weight: bold;
            line-height:24px;
            margin-bottom:10px;
          }

          ul{
            display: block;
            overflow: hidden;
            padding: 0 20px;

            li{
              width: 260px;
              height: 108px;
              float: left;
              background: url("../images/us-address-default.png");
              padding: 8px 13px;
              margin: 0 10px 20px;

              &.active{
                background: url("../images/us-address-checked.png");
              }

              .list-top{
                border-bottom:1px solid #d9d9d9;
                font-size:12px;
                line-height:29px;

                b{
                  font-weight: bold;
                  margin: 0 10px 0 5px;
                }
              }

              p{
                font-size:14px;
                line-height:24px;

                &.address-phone{
                  height: 48px;
                  margin-top:5px;
                }

                a{
                  font-size:12px;
                  margin: 0 5px;
                  color: #fc4607;
                }
              }
            }
          }
        }
      }




    }


    // 公共标题
    .page-title{
      border-bottom:1px solid #d9d9d9;

      h1{
        font-size:16px;
        color: #000;
        line-height:40px;
        font-weight: bold;
      }
    }

    // 用户中心公共表单格式
    .from-list{
      overflow: hidden;
      font-size:12px;

      .form-title{
        float: left;
      }
      .form-list-center{
        float: left;

        input[type='text'],input[type='password'],select,textarea{
          border: 1px solid #d9d9d9;
          outline: none;
        }
        input[type='text'],input[type='password'],textarea{
          outline: none;
          padding: 0 10px;
        }
        .error{
          color: #f00;
          font-size:12px;
          line-height:18px;
        }
      }
    }
  }
}