.u-header {
  width: 100%;
  height: 80px;
  background: #218928;
  margin-bottom: 25px;
}
.u-header .fl {
  padding: 10px 0;
  line-height: 60px;
  color: #FFF;
  font-size: 16px;
}
.u-header .fl img {
  margin-right: 25px;
  vertical-align: middle;
}
.u-header .fr ul {
  overflow: hidden;
}
.u-header .fr ul li {
  float: left;
  padding: 20px 30px;
  line-height: 40px;
  font-size: 14px;
}
.u-header .fr ul li a {
  color: #FFF;
}

.u-main {
  width: 100%;
}
.u-main .u-center {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
.u-main .sidebar {
  width: 200px;
  background: #fafafa;
  float: left;
  padding: 15px 10px;
}
.u-main .sidebar .u-user {
  text-align: center;
  margin-bottom: 20px;
}
.u-main .sidebar .u-user img {
  display: inline-block;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.u-main .sidebar .u-user p {
  font-size: 14px;
  line-height: 18px;
  color: #333;
}
.u-main .sidebar .u-user p span {
  font-size: 12px;
  color: #999;
}
.u-main .sidebar .sidebar-nav {
  overflow: hidden;
  padding: 0 20px;
}
.u-main .sidebar .sidebar-nav h3 {
  font-weight: bold;
  padding: 7px 0;
  line-height: 24px;
  font-size: 14px;
}
.u-main .sidebar .sidebar-nav h3 a, .u-main .sidebar .sidebar-nav h3 span {
  color: #333;
}
.u-main .sidebar .sidebar-nav p {
  line-height: 24px;
  padding: 5px 0;
}
.u-main .sidebar .sidebar-nav a {
  font-size: 14px;
  color: #999;
}
.u-main .u-main-center {
  width: 960px;
  float: right;
}
.u-main .u-main-center.u-index .u-center-top {
  background: #fafafa;
  padding: 10px 20px;
  overflow: hidden;
}
.u-main .u-main-center.u-index .u-center-top .user-info-container {
  width: 473px;
  border-right: 2px solid #aaa;
  overflow: hidden;
  float: left;
  padding: 10px 0;
}
.u-main .u-main-center.u-index .u-center-top .user-info-container .us-header {
  width: 84px;
  height: 84px;
  display: block;
  float: left;
  border-radius: 50%;
  margin-right: 24px;
}
.u-main .u-main-center.u-index .u-center-top .user-info-container .us-header img {
  width: 100%;
  height: 100%;
}
.u-main .u-main-center.u-index .u-center-top .user-info-container p {
  font-size: 12px;
  color: #666;
  line-height: 24px;
}
.u-main .u-main-center.u-index .u-center-top .user-info-container p.name {
  font-size: 14px;
  color: #333;
}
.u-main .u-main-center.u-index .u-center-top .user-info-container p.modify {
  margin-top: 10px;
}
.u-main .u-main-center.u-index .u-center-top .user-info-container p.modify a {
  color: #fc4607;
}
.u-main .u-main-center.u-index .u-center-top .user-info-dynamic {
  float: left;
  margin-left: 20px;
  width: 425px;
  padding: 10px 0;
}
.u-main .u-main-center.u-index .u-center-top .user-info-dynamic .title {
  font-size: 14px;
  line-height: 16px;
}
.u-main .u-main-center.u-index .u-center-top .user-info-dynamic .title a {
  font-size: 12px;
  color: #666;
}
.u-main .u-main-center.u-index .u-center-top .user-info-dynamic .order-container {
  margin-top: 10px;
  overflow: hidden;
}
.u-main .u-main-center.u-index .u-center-top .user-info-dynamic .order-container img {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.u-main .u-main-center.u-index .u-center-top .user-info-dynamic .order-container p {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}
.u-main .u-main-center.u-index .u-center-top .user-info-dynamic .order-container p a {
  color: #fc4607;
}
.u-main .u-main-center.u-index .list-container {
  width: 100%;
  margin-top: 20px;
  border-top: 2px solid #218928;
  padding-top: 10px;
}
.u-main .u-main-center.u-index .list-container .title {
  height: 32px;
  line-height: 24px;
  padding: 0 20px;
}
.u-main .u-main-center.u-index .list-container .title h2 {
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
.u-main .u-main-center.u-index .list-container .title a {
  color: #999;
  font-size: 12px;
}
.u-main .u-main-center.u-index .list-container .title a i {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.u-main .u-main-center.u-index .list-container .title a i.us_refresh-icon {
  background: url("../images/us_refresh_icon.png");
  width: 14px;
  height: 12px;
}
.u-main .u-main-center.u-index .list-container .list-center {
  width: 100%;
}
.u-main .u-main-center.u-index .list-container .list-center ul {
  display: block;
  overflow: hidden;
}
.u-main .u-main-center.u-index .list-container .list-center ul li {
  width: 218px;
  float: left;
  margin: 0 11px;
}
.u-main .u-main-center.u-index .list-container .list-center ul li .com-img {
  display: block;
  width: 218px;
}
.u-main .u-main-center.u-index .list-container .list-center ul li .com-img img {
  display: block;
  width: 216px;
  height: 216px;
  border: 1px solid #d9d9d9;
  margin-bottom: 10px;
}
.u-main .u-main-center.u-index .list-container .list-center ul li p {
  line-height: 16px;
  font-size: 12px;
}
.u-main .u-main-center.u-index .list-container .list-center ul li p, .u-main .u-main-center.u-index .list-container .list-center ul li p a {
  color: #333;
}
.u-main .u-main-center.u-index .list-container .list-center ul li p.name {
  height: 32px;
  margin-bottom: 5px;
}
.u-main .u-main-center.u-index .list-container .list-center ul li p strong {
  color: #fc4607;
  font-size: 14px;
}
.u-main .u-main-center.u-edit-info .edit-info-center {
  padding: 20px 10px;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center {
  margin-top: 20px;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .prompt {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .prompt b {
  font-size: 16px;
  font-weight: bold;
  color: #fc4607;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .from-list {
  margin-bottom: 20px;
  width: 500px;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .from-list .form-title {
  width: 90px;
  height: 28px;
  line-height: 28px;
  text-align: right;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .from-list .form-list-center {
  width: 400px;
  margin-left: 10px;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .from-list .form-list-center .header-upload {
  display: block;
  width: 80px;
  height: 80px;
  position: relative;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .from-list .form-list-center .header-upload img {
  width: 100%;
  height: 100%;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .from-list .form-list-center .header-upload p {
  position: absolute;
  z-index: 100;
  width: 100%;
  color: #fff;
  font-size: 12px;
  text-align: center;
  height: 18px;
  line-height: 18px;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  bottom: 0;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .from-list .form-list-center label {
  line-height: 28px;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .from-list .form-list-center label input[type='radio'] {
  vertical-align: middle;
  margin: 0 5px 0 0;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .from-list .form-list-center input[type='text'] {
  height: 26px;
  line-height: 26px;
  border-radius: 3px;
  width: 138px;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .from-list .form-list-center input[type='text'].address {
  width: 335px;
  margin-top: 10px;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .from-list .form-list-center select {
  width: 110px;
  height: 28px;
  line-height: 28px;
  border-radius: 3px;
  margin-right: 10px;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .submit-container {
  margin-left: 100px;
}
.u-main .u-main-center.u-edit-info .edit-info-center .form-center .submit-container .submit-btn {
  width: 86px;
  height: 28px;
  background: #fc4607;
  border: none;
  cursor: pointer;
  color: #FFF;
  font-size: 12px;
  border-radius: 5px;
  outline: none;
}
.u-main .u-main-center.u-modify-pass .modify-pass-center {
  padding: 0 10px;
}
.u-main .u-main-center.u-modify-pass .form-center, .u-main .u-main-center.u-modify-phone .form-center {
  margin: 100px auto 0;
  width: 380px;
  border: 1px solid #d9d9d9;
  padding: 40px 80px;
}
.u-main .u-main-center.u-modify-pass .form-center .from-list, .u-main .u-main-center.u-modify-phone .form-center .from-list {
  width: 380px;
  margin-bottom: 20px;
}
.u-main .u-main-center.u-modify-pass .form-center .from-list .form-title, .u-main .u-main-center.u-modify-phone .form-center .from-list .form-title {
  width: 100px;
  line-height: 32px;
  text-align: right;
}
.u-main .u-main-center.u-modify-pass .form-center .from-list .form-list-center, .u-main .u-main-center.u-modify-phone .form-center .from-list .form-list-center {
  width: 260px;
  margin-left: 10px;
}
.u-main .u-main-center.u-modify-pass .form-center .from-list .form-list-center input[type='text'], .u-main .u-main-center.u-modify-phone .form-center .from-list .form-list-center input[type='text'] {
  line-height: 30px;
  border-radius: 3px;
  height: 30px;
  width: 240px;
}
.u-main .u-main-center.u-modify-pass .form-center .submit-container, .u-main .u-main-center.u-modify-phone .form-center .submit-container {
  text-align: center;
}
.u-main .u-main-center.u-modify-pass .form-center .submit-container .submit-btn, .u-main .u-main-center.u-modify-phone .form-center .submit-container .submit-btn {
  width: 140px;
  height: 32px;
  background: #fc4607;
  border: none;
  cursor: pointer;
  color: #FFF;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
}
.u-main .u-main-center.u-modify-phone .form-list-center .text {
  line-height: 32px;
}
.u-main .u-main-center.u-modify-phone .form-list-center .code-btn {
  margin-top: 5px;
  width: 80px;
  height: 22px;
  display: block;
  border-radius: 3px;
  background: #fc4607;
  text-align: center;
  line-height: 22px;
  color: #FFF;
}
.u-main .u-main-center.u-address .address-container {
  width: 100%;
}
.u-main .u-main-center.u-address .address-container .add-address-container {
  padding: 20px 0 30px 0;
  border-bottom: 1px solid #eee;
}
.u-main .u-main-center.u-address .address-container .add-address-container .from-list {
  margin-bottom: 20px;
}
.u-main .u-main-center.u-address .address-container .add-address-container .from-list .form-title {
  width: 80px;
  text-align: right;
  line-height: 32px;
}
.u-main .u-main-center.u-address .address-container .add-address-container .from-list .form-title i {
  font-size: 12px;
  color: #F00;
}
.u-main .u-main-center.u-address .address-container .add-address-container .from-list .form-list-center {
  margin-left: 10px;
  width: 400px;
}
.u-main .u-main-center.u-address .address-container .add-address-container .from-list .form-list-center input[type='text'], .u-main .u-main-center.u-address .address-container .add-address-container .from-list .form-list-center select, .u-main .u-main-center.u-address .address-container .add-address-container .from-list .form-list-center textarea {
  border-radius: 3px;
}
.u-main .u-main-center.u-address .address-container .add-address-container .from-list .form-list-center input[type='text'] {
  height: 30px;
  line-height: 30px;
  width: 240px;
}
.u-main .u-main-center.u-address .address-container .add-address-container .from-list .form-list-center select {
  width: 120px;
  height: 32px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.u-main .u-main-center.u-address .address-container .add-address-container .from-list .form-list-center .qh, .u-main .u-main-center.u-address .address-container .add-address-container .from-list .form-list-center .hm {
  float: left;
}
.u-main .u-main-center.u-address .address-container .add-address-container .from-list .form-list-center .qh {
  margin-right: 10px;
}
.u-main .u-main-center.u-address .address-container .add-address-container .from-list .form-list-center .qh input[type='text'] {
  width: 68px;
}
.u-main .u-main-center.u-address .address-container .add-address-container .from-list .form-list-center .hm input[type='text'] {
  width: 140px;
}
.u-main .u-main-center.u-address .address-container .add-address-container .default-checked {
  line-height: 20px;
  font-size: 12px;
  padding-left: 90px;
}
.u-main .u-main-center.u-address .address-container .add-address-container .default-checked label {
  vertical-align: middle;
}
.u-main .u-main-center.u-address .address-container .add-address-container .default-checked label input {
  vertical-align: middle;
}
.u-main .u-main-center.u-address .address-container .add-address-container .submit-container {
  margin-top: 20px;
  padding-left: 90px;
}
.u-main .u-main-center.u-address .address-container .add-address-container .submit-container .submit-btn {
  border-radius: 3px;
  background: #fc4607;
  text-align: center;
  color: #FFF;
  width: 120px;
  height: 32px;
  border: none;
  cursor: pointer;
  outline: none;
}
.u-main .u-main-center.u-address .address-container .address-list-container {
  margin-top: 30px;
}
.u-main .u-main-center.u-address .address-container .address-list-container h3 {
  padding: 0 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
}
.u-main .u-main-center.u-address .address-container .address-list-container ul {
  display: block;
  overflow: hidden;
  padding: 0 20px;
}
.u-main .u-main-center.u-address .address-container .address-list-container ul li {
  width: 260px;
  height: 108px;
  float: left;
  background: url("../images/us-address-default.png");
  padding: 8px 13px;
  margin: 0 10px 20px;
}
.u-main .u-main-center.u-address .address-container .address-list-container ul li.active {
  background: url("../images/us-address-checked.png");
}
.u-main .u-main-center.u-address .address-container .address-list-container ul li .list-top {
  border-bottom: 1px solid #d9d9d9;
  font-size: 12px;
  line-height: 29px;
}
.u-main .u-main-center.u-address .address-container .address-list-container ul li .list-top b {
  font-weight: bold;
  margin: 0 10px 0 5px;
}
.u-main .u-main-center.u-address .address-container .address-list-container ul li p {
  font-size: 14px;
  line-height: 24px;
}
.u-main .u-main-center.u-address .address-container .address-list-container ul li p.address-phone {
  height: 48px;
  margin-top: 5px;
}
.u-main .u-main-center.u-address .address-container .address-list-container ul li p a {
  font-size: 12px;
  margin: 0 5px;
  color: #fc4607;
}
.u-main .u-main-center .page-title {
  border-bottom: 1px solid #d9d9d9;
}
.u-main .u-main-center .page-title h1 {
  font-size: 16px;
  color: #000;
  line-height: 40px;
  font-weight: bold;
}
.u-main .u-main-center .from-list {
  overflow: hidden;
  font-size: 12px;
}
.u-main .u-main-center .from-list .form-title {
  float: left;
}
.u-main .u-main-center .from-list .form-list-center {
  float: left;
}
.u-main .u-main-center .from-list .form-list-center input[type='text'], .u-main .u-main-center .from-list .form-list-center input[type='password'], .u-main .u-main-center .from-list .form-list-center select, .u-main .u-main-center .from-list .form-list-center textarea {
  border: 1px solid #d9d9d9;
  outline: none;
}
.u-main .u-main-center .from-list .form-list-center input[type='text'], .u-main .u-main-center .from-list .form-list-center input[type='password'], .u-main .u-main-center .from-list .form-list-center textarea {
  outline: none;
  padding: 0 10px;
}
.u-main .u-main-center .from-list .form-list-center .error {
  color: #f00;
  font-size: 12px;
  line-height: 18px;
}
